html, body {
    font-size: 17px;
    color: #00ff00; 
    background-color: #000;
    font-family: "Courier New", monospace; 
}
body {
        cursor: url('https://i.ibb.co/4RmQsW0/defcon-logo.png'), auto;
}

a {
    color: #000000;
}

a:hover {
    color: #000000;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-1, .section-2, .section-3, .section-4 {
    background-color: #000000;
}

.section-4 {
    padding: 0.2rem;
}

a.nav-item, a.nav-item:hover {
    color: #00ff00;
}

.avatar {
    height: 200px;
    border-radius: 50%;
}

.intro-description {
    padding-top: 1rem;
}

.social-container img {
    max-width: 100%;
    max-height: 175px;
    margin-bottom: 15px;
}

.project-figure {
    margin: 0 auto 1rem auto;
    max-height: 256px;
    max-width: 256px;
}

.project-text {
    text-align: justify;
}

.box {
    background-color: transparent;
    border: 2px solid rgba(7, 59, 79, 0.5);
}

.title, .intro { 
    color: #00ff00; 
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.title {
    text-align: left;
    margin-bottom: 2rem;
}

.void-background {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #000000;
    }

    .nav-toggle:hover {
        background-color: transparent;
    }

    .nav-toggle span, .nav-toggle span:hover {
        background-color: #000000;
    }
}

